[Unit]
Description=Check for Company Shop production updates

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
RandomizedDelaySec=15s
Persistent=true
Unit=ovoshi-help-auto-deploy.service

[Install]
WantedBy=timers.target
