[Unit]
Description=Monthly Company Shop PostgreSQL backup

[Timer]
OnCalendar=*-*-01 00:00:00
Persistent=true
Unit=ovoshi-help-db-backup@monthly.service

[Install]
WantedBy=timers.target
